<div class="container anchor" id="about">
 <div class="header">
	<h1>About Bike Shop Berlin</h1>
 </div>
	<h3>Get to know us</h3>
	<p>Bike Shop Berlin is your first choice for used bikes in the area of Berlin.</p>
</div>
