<div class="container anchor" id="index">
 <div class="header">
	<h1>Welcome to Bike Berlin</h1>
	<h2>Your source for used bikes in Berlin</h2>
 </div>
</div>
<div class="col-md-12 col-xs-12">
 	<%= image_tag("bike.jpg", class: "img-responsive", style: 'display: block; margin: auto; width: 320;') %>
</div>